.training {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;

    h1 {
        color: #333;
        font-size: 20px;
        margin-bottom: 10px;
        text-shadow: whitesmoke 0 0 3px;
    }

    &__skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        background-color: #fff;
    }
}

.button_train {
    border: none;
    color: #000;
    font-size: 24px;
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    border: 1px solid #000;

    width: 140px;
    height: 40px;

    margin: 10px;
    padding: 0;

    &:hover {
        color: #fff;
        background-color: #333;
    }
}